<!--  not being used for New -->

<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="col-sm-2">
      <%= form.label :priority %>
      <%= form.check_box :priority %>
    </div>

    <div class="col-sm-2">
      <%= form.label :complete %>
      <%= form.check_box :complete %>
    </div>

    <div class="col-sm-2 pt-4">
      <%= form.submit class: 'btn btn-sm btn-primary' %>
    </div>
  </div> <!-- row -->
<% end %>
